<div class="p-3">
  <div class="container">
    <div>FORM 1</div>
    <p>
      Description, Description, Description, Description, Description, Description,  Description, Description, Description, Description, Description, Description,
    </p>
    <div class="form was-validated">
      <div class="form-group">
        <input class="form-control" type="text" required="true">
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>

    </div>
  </div>
</div>
